<form action="/break/<%= Casser.idTV %>" method="post">
    <h1>Que s'est-il passée ?</h1>
        <input type="text" name="broken" value="">
        <input type="submit" name="Save" value="Envoyer votre requête">
</form>